@import "tailwindcss";

@theme {
  --color-app-bg: #F7F7F7;
  --color-app-surface: #FFFFFF;
  --color-app-accent: #1CB0F6;
  --color-app-accent-hover: #1899D6;
  --color-app-accent-light: #84D8FF;
  --color-app-text: #3C3C3C;
  --color-app-border: #E5E5E5;
}

@layer base {
  body {
    @apply bg-app-bg text-app-text selection:bg-app-accent/30 min-h-screen relative font-sans antialiased;
  }
}
